<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" 
      layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="/js/home.js"></script>
    <title th:text="#{app.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="pageheader">
			<h1 th:text="#{app.name}"></h1>
		</div>
    <article>
        <section class="height20px">
            <h4 th:text="${message}" id="messageHeading"></h4>
        </section>
        
        <hr>
        <form id="command" action="#" th:action="@{/cash/submit}" th:object="${command}" method="post">
        <input type="hidden" id="formAction" th:value="${formAction}" />
        <input type="hidden" id="submitAction" th:field="*{submitAction}" />
        <section>
	        <div class="nav">
	    		<ul>
	        		<li><a href="#section-about" th:text="#{app.home.lbl.about}"></a></li>
	        		<li><a href="#section-checkBalance" id="checkBalanceSection" th:text="#{app.home.lbl.checkbalance}"></a></li>
	        		<li><a href="#section-withdrawAmount" id="withdrawSection" th:text="#{app.home.lbl.withdrawamount}"></a></li>
	        		<li><a href="#section-loadCash" id="loadCashSection" th:text="#{app.home.lbl.loadcash}"></a></li>
	    		</ul>
			</div>
			
			<div id="section-about" class="tab-content">
	    		<h2 th:text="#{app.home.lbl.about.appname}"></h2>
		    	<p th:text="#{app.home.lbl.about.description}"></p>
		    	<ul>
		    		<li th:text="#{app.home.lbl.about.feature.initialization}"></li>
		    		<li th:text="#{app.home.lbl.about.feature.checkbalance}"></li>
		    		<li th:text="#{app.home.lbl.about.feature.withdrawamount}"></li>
		    		<li th:text="#{app.home.lbl.about.feature.loadcash}"></li>	
		    	</ul>
			</div>
			<div id="section-checkBalance" class="tab-content">
	    		<div class="form-group">
               		<label for="noteTypeOfCheckBal" th:text="#{app.home.lbl.checkbalance.selectnotetype}"></label>
                   	<select id="noteTypeOfCheckBal" class="form-control"  th:field="*{noteTypeOfCheckBal}" >
                       	<option value="20">20</option>
                       	<option value="50">50</option>
                   	</select> <br>
               		<button type="submit" class="btn btn-primary" name="action" value="checkBalance" th:text="#{app.home.btn.checkbalance}"></button>
				</div>
			</div>
			<div id="section-withdrawAmount" class="tab-content">
	    		<div class="form-group">
	    			<label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" th:class="'error'" ></label><br>
                   	<label for="amount" th:text="#{app.home.lbl.withdraw.amount}"></label>
                   	<input id="amount" class="form-control"  th:field="*{amount}" />
               		<button type="submit" class="btn btn-primary" name="action" value="withdraw" th:text="#{app.home.btn.withdraw}"></button>
				</div>
			</div>
			<div id="section-loadCash" class="tab-content">
	    		<div class="form-group">
               		<label for="noteTypeOfLoadCash" th:text="#{app.home.lbl.loadcash.selectnotetype}"></label>
                   	<select id="noteTypeOfLoadCash" class="form-control"  th:field="*{noteTypeOfLoadCash}" >
                       	<option value="20">20</option>
                       	<option value="50">50</option>
                   	</select> <br>
                   	<label th:if="${#fields.hasErrors('number')}" th:errors="*{number}" th:class="'error'"></label><br>
                   	<label for="number">Enter Number of Notes</label>
                   	<input id="number" class="form-control"  th:field="*{number}" />
               		<button type="submit" class="btn btn-primary" name="action" value="loadCash" th:text="#{app.home.btn.loadcash}"></button>
				</div>				
			</div>
		</section>
		</form>
    </article>
		<div class="pagefooter">
			<h1 th:text="#{app.copyright}"></h1>
		</div>
	</div>
</body>
</html>

